<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android_cnc.acnc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FourButtonsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphView.CNCControlViewActivity"
            android:label="@string/title_activity_cnccontrol_view"
            android:parentActivityName=".FourButtonsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android_cnc.acnc.FourButtonsActivity" />
        </activity>
        <activity
            android:name=".FileSelect.FileSelectActivity"
            android:label="@string/title_file_select" >
        </activity>
        <activity
            android:name=".GcodeTextEdit.GcodeTextEditActivity"
            android:label="@string/title_activity_gcode_text_edit" >
        </activity>

        <service
            android:name=".HAL.MotionController.MotionControllerService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/MC_service_label" >
        </service>
        <service
            android:name=".HAL.TorchHeightController.THCService"
            android:exported="false"
            android:label="@string/THC_service_label" >
        </service>

        <activity
            android:name=".DataBase.DataBase"
            android:label="@string/title_activity_data_base" >
        </activity>
    </application>

</manifest>
